@import "./src/styles/variables.scss";

.titleWrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: 0;
  width: 80vw;
}

.title {
  font-size: 2vw;
  font-family: $primaryFont;
  font-weight: 800;
  padding: 0 3rem;
  grid-area: 1 / 1 / 2 / 2;
  background: #ffffff11;
  box-shadow: 0px 3px 35px 0px $secondary-dark;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  & > div {
    font-family: $secondaryFont;
    font-size: 5vw;
    font-weight: 600;
    background: -webkit-linear-gradient($primary-dark, $primary-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & > span {
      background: -webkit-linear-gradient($primary-dark, $primary-light);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
