@import "./src/styles/variables.scss";

.titleWrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: 0;
  width: 80vw;
  z-index: -1;
  @media (max-width: 456px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
  }

  &__secondDiv {
    position: absolute;
    top: 50vh;
    left: 70vw;
    @media (max-width: 456px) {
      display: none;
    }
  }
}

.title {
  font-size: 1.1vw;
  font-family: $primaryFont;
  font-weight: 800;
  padding: 0 3rem;
  grid-area: 1 / 1 / 2 / 2;
  background: #ffffff07;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(8px);

  & > h1 {
    position: absolute;
    top: 50%;
  }

  & > div {
    font-family: $secondaryFont;
    font-size: 4vw;
    font-weight: 600;
    background: -webkit-linear-gradient($primary-dark, $primary-light);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 56%;

    & > span {
      background: -webkit-linear-gradient($primary-dark, $primary-light);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .subtitle > p {
    font-size: 1.5vw;
    font-weight: 400;
    -webkit-text-fill-color: white;
  }
}

.mainImg {
  width: 3rem;
}
