@import "./src/styles/variables.scss";

.skillsWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  background-color: transparent;

  @include mobile {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  & div:first-of-type {
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 17px 5px rgba(216, 216, 216, 0.47);
    box-shadow: 5px 5px 17px 5px rgba(216, 216, 216, 0.47);
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.icon {
  color: #00000060;
  font-size: 5em;
  display: flex;
  justify-self: center;
  align-self: center;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
    fill: url(#my-cool-gradient);
  }
}
