@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700;800&display=swap');

//COLORS
$primary-light: #00FFDE;
$primary-dark: #2BA595;
$secondary: #242A38;
$dark-grey: #4E596F;
$white: #fff;


//FONTS
$font-title: 'League Spartan', sans-serif;
$font: 'Manrope', sans-serif;