@import "./src/styles/variables.scss";

.container {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 8em 3em;
  margin-top: 10em;
  column-gap: 0.9;
  animation: home 3s;

  @keyframes home {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: $mobileView) {
    padding: 10em 1.5em;
  }

  @media (min-width: $mobileView) and (max-width: $tabletView) {
    padding: 8em 1.5em;
  }
}

h3 {
  color: #b4007e;
  font-family: $secondaryFont;
  font-size: 16px;
}

.name {
  font-size: 5vw;
  background: linear-gradient(to right, #b4007e 5%, #1c0292 30%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: $mobileView) {
    font-size: 9vw;
  }
}

h1 {
  font-size: 5vw;
  color: #000;
  line-height: 0.8;

  @media (max-width: $mobileView) {
    font-size: 9vw;
  }
}

p {
  color: #000;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: $primaryFont;
  line-height: 1.5;
  margin-top: 1em;
  width: 33em;
  @media (max-width: $mobileView) {
    font-size: 14px;
    width: 100%;
  }
  @media (min-width: $mobileView) and (max-width: $tabletView) {
    font-size: 1.5vw;
  }
}

hr {
  color: rgba($light-navy, 0.8);
  transform: translate(84.4vw, -1.5rem);
  width: 7rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  @media (max-width: $tabletView) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.spline {
  position: relative;
  margin: 0;
  top: 0;
  right: 0;
  width: 1200px;
  height: 1000px;
  @media (max-width: 1024px) {
    transform: scale(0.8);
    transform-origin: top;
  }
  @media (max-width: 800px) {
    transform: scale(0.7);
  }
  @media (max-width: 600px) {
    transform: scale(0.3);
    margin: auto;
  }
  @media (max-width: $mobileView) {
    transform: scale(0.3);
    margin-left: -25em;
    margin-top: 3em;
    margin-bottom: -40em;
  }
}
