@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $primaryFont;
  width: 100%;
  color: $light-navy;
  height: 100vh;
}

#root {
  height: 100vh;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: $primary-light;
  overflow: hidden;
  z-index: -1;
}
