@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $primaryFont;
  width: 100%;
  color: $light-navy;
  height: 100vh;
  overflow-x: hidden;
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #e9e9e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #f4f4f4 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
  height: 100vh;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  color: #340075;
  overflow: hidden;
  z-index: -1;
}

.commonButton {
  cursor: pointer;
  outline: none;
  padding: 1.1rem 2.25rem;
  font-family: $primaryFont;
  margin: 0;
  background-color: #3500ff;
  border: 1px solid #3500ff;
  border-radius: $borderRadius;
  color: #ffffff;
  font-size: 0.8rem;
  transition: 0.5s ease all;

  &:hover {
    background-color: #2d00e1;
  }
}
