@import "../styles/variables.scss";

.tabs-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  column-gap: 3em;

  @media (max-width: $tabletView) {
    flex-direction: column;
  }
}

.tabs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (max-width: $tabletView) {
    flex-direction: row;
  }
}

.tab {
  padding: 10px 20px;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;

  &:hover {
    background-color: #ffffff51;
  }

  @media (max-width: $mobileView) {
    padding: 10px 0px;
  }
}

.tab.active {
  background-color: transparent;
  border-bottom: 2px solid #004dc9;
  border-top: none;
  border-left: none;
  border-right: none;
}

.tabs-content {
  padding: 9px;

  @media (min-width: $mobileView) and(max-width: $tabletView) {
    padding: 20px;
  }

  @media (max-width: $mobileView) {
    padding: 0px;
  }
}

.tab-item {
  display: none;
}

.tab-item.active {
  display: block;
}
