@import "../styles/variables.scss";

.tabs-container {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
  margin-top: 2em;

  @media (max-width: $tabletView) {
    flex-direction: column;
  }
}

.tabs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: $secondaryFont;
  font-weight: 700;

  @media (max-width: $tabletView) {
    flex-direction: row;
  }
}

.tab {
  padding: 10px 20px;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  display: ruby;

  &:hover {
    color: #b4007e;
    animation: 0.3s color ease-in;

    @keyframes color {
      0% {
        color: #000;
      }
      100% {
        color: #b4007e;
      }
    }
  }

  @media (max-width: $mobileView) {
    padding: 10px 0px;
  }
}

.tab.active {
  background-color: transparent;
  border-bottom: 2px solid #b4007e;
  border-top: none;
  border-left: none;
  border-right: none;

  @media (min-width: $tabletView) {
    border-bottom: none;
    border-left: 2px solid #b4007e;
  }
}

.tabs-content {
  @media (min-width: $mobileView) and(max-width: $tabletView) {
    padding: 20px;
  }

  @media (max-width: $mobileView) {
    padding: 0px;
  }
}

.tab-item {
  display: none;

  & p {
    margin-top: 0em;
    font-size: 16px;
    font-family: $secondaryFont;
  }
}

.tab-item.active {
  display: block;
}

a,
span:not(:first-of-type) {
  color: #b4007e;
  font-family: $secondaryFont;
  text-decoration: none;

  &:focus {
    color: #b4007e;
  }
}

span:first-of-type {
  color: #000;
  font-family: $secondaryFont;
}

span:nth-of-type(3) {
  font-weight: 600;
  color: #b4007e;
}

ul {
  font-family: $secondaryFont;
  list-style: none;
  padding-left: 0;
  transform: translateY(1em);

  & .list {
    font-size: 16px;
    line-height: 1.7;

    @media (max-width: $mobileView) {
      font-size: 14px;
    }

    &::before {
      content: "▹";
      margin-right: 5px;
      color: #b4007e;
      line-height: 20px;
    }
  }
}

.iconsWrapper {
  transform: translateY(2em);
  display: flex;
  flex-direction: row;

  & div {
    flex-direction: column;
  }

  & div > img {
    width: 30px;
  }
}
