@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700;800&display=swap");

//Colors

$primary-light: #00ffde;
$primary-dark: #2ba595;
$secondary: #091018;
$secondary-dark: #141820;
$dark-grey: #4e596f;
$white: #fff;

//Header

$headerHeight: 100px;
$borderRadius: 12px;

//Fonts

$primaryFont: "Manrope", sans-serif;
$secondaryFont: "League Spartan", sans-serif;

//spacing

$spacing-md: 16px;
$spacing-lg: 32px;

//Breakpoints

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}
